 <% if(success && success.length) { %>
    <h5 class="alert alert-info"> <%= success %> </h3>
  <% } %>

  <% if(error && error.length) { %>
    <h5 class="alert alert-danger"><%= error %> </h3>
  <% } %>

  <script>
    setTimeout(function(){
    const alert = document.querySelector('.alert');
    alert.remove()
    }, 5000)

  </script>