<%- include('partials/header.ejs') %>
<div class="card shadow p-3 mb-5 blurred rounded">
    <h1>About</h1>
    <div><h3>General Information:</h3>
    <h4>Dr. Jonny Day</h4>
    <h5>Toronto, Canada</h5>
    <p>Contact: jonathanphilipday@gmail.com</p>
    <p>GitHub: <a href="https://github.com/Jonifwun/elemental">https://github.com/Jonifwun/elemental</a></p>
    </div>
    <div>
        <h3>About Me:</h3>
        <p>Hi. I'm Jonny, a synthetic organic chemist from the UK with over 10 years experience in research. 
            As a part-time coder, I have begun using programming to create tools 
            that make my life, and hopefully yours, easier.
            This project was built using modern javascript, CSS and HTML.</p>
    </div>
    
 
    <div>
        <h7><em>Background image: Ferdinand Stöhr</em></h7>
    </div>        
    
</div>
   
<%- include('partials/footer.ejs') %>
