<%- include('partials/header.ejs') %>

    <h1>About</h1>
    <div><h3>General Information:</h3>
    <h4>Dr. Jonny Day</h4>
    <h5>Toronto, Canada</h5>
    <p>Contact: jonathanphilipday@gmail.com</p>
    <p>GitHub: <a href="https://github.com/Jonifwun/elemental">https://github.com/Jonifwun/elemental</a></p>
    </div>
    <h3>About Me:</h3>
    <p>Hi. I'm Jonny, a synthetic organic chemist from the UK with over 10 years experience in research. 
        As a part-time coder, I have begun using programming to create tools 
        that make life, and hopefully yours, easier.
        This project was built entirely using modern vanilla javascript, CSS and HTML.</p></div>
    <div>
    
<%- include('partials/footer.ejs') %>
