<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
   

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href=<%= style %> />
    <script src="https://kit.fontawesome.com/3c7ea2859c.js" crossorigin="anonymous"></script>
</head>
    
    

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Elemental Purity Calculator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../calculator">Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about">About</a>
        </li>
        <% if(!currentUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="../login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../register">Register</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="../results">Results</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../profile">Profile</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="../logout">Logout</a>
        </li>
        
      <% } %>  
      </ul>
    
    </div>
    
  </nav>
  <%- include('../views/partials/flashmessages.ejs') %>

    <div class="container">
        <div class="row">
            <div class="alert-box col-12"></div>
        </div>
        <div class="row">
            <div class="side-a col-md-6">
                <div class="results">
                    <div class="title">
                        <h3>Elemental Purity Calculator</h3>
                    </div>
                    <h4 class="compound-purity">Percentage Purity is: <span id="percent-display">___%</span></h4>
        
                    <div>Expected Results</div>
                    <p class="expected">C: H: N:</p>
                    <hr>
                    <div >Actual Results</div>
                    <p class="actual">C: H: N:</p>
                    <hr>
                    
                    <div class="impurity-results" id="impurity-results">
                    Impurities  
                        <ul class="impurity-list" id="impurity-list">
                           <!-- LIST ITEMS WILL GO HERE -->
                        </ul>
                    </div>
                    <hr>
                </div>
                <div class="instructions">
                    <h5><strong>Instructions:</strong></h5>
                    <p class="steps"><strong>Step 1:</strong> Add molecular formula to molecular formula input with spaces between elements</p>
                    <p class="steps"><strong>Step 2:</strong> Add CHN results to the form and click Add Results</p>
                    <p class="steps"><strong>Step 3:</strong> Add impurities using a molecular formula or by clicking on a common impurity</p>
                    <p class="steps"><strong>Step 4:</strong> Click 'Calculate CHN' and try to match the expected results with the actual results</p>
                    <p class="steps"><strong>Step 5:</strong> When CHN data is matched, click 'Calculate Purity'</p>
                    
                </div>
                <div class="save-reset">
                    <a href="../results/new"><button class="save-reset-btns" id="save-btn">Save</button></a>
                    <button class="save-reset-btns" id="reset-btn">Reset</button>
                </div>
                
            </div>
            <div class="side-b col-md-6">
                <div class="molecular-form">
                    <form id="molecular-form">
                        <div>
                            <h6><i class="far fa-plus-square"></i> Molecular Formula<span id="formula"></span></h6>
                        </div>
                        <div class="molec">
                            
                            <div>
                                
                                <input type="text" class="molecular-formula" id="molecular-formula" placeholder="Molecular Formula e.g. C4 H2 O Br">
                            </div>
                            <div>
                                <button class="molecular-btn" id="molecular-btn">Add Compound</button>
                            </div>
                          
                        </div>
                        
                       
                        
                    </form>
                    <div>
                        <p>For <sup>13</sup>C labelled compounds, please use brackets e.g. (13C)6 H7 N</p>
                    </div>
                </div>
                <hr>
                <div class="actual-form-container">
                    <h6><i class="far fa-plus-square"></i> Add Results</h6>
                    <form id="actual-form">
                        <div class="actual-inputs">
                            <div class="actual-container">
                                <div>
                                    <label for="actual-resultsC">C:</label>
                                    <input type="text" class="actual-results" id="actual-resultsC" placeholder="Enter C%">
                                </div>
                                <div>
                                    <label for="actual-resultsC">H:</label>
                                <input type="text" class="actual-results" id="actual-resultsH" placeholder="Enter H%">
                                </div>
                                <div>
                                    <label for="actual-resultsC">N:</label>
                                    <input type="text" class="actual-results" id="actual-resultsN" placeholder="Enter N%">
                                </div>
                                <button class="actual-btn" id="actual-btn">Add Results</button>
                            </div>
                        
                        </div>
                    </form>
                </div>        
                <hr>
                <div class="form impurities">
                    <h6><i class="far fa-plus-square"></i> Add An Impurity</h6>
                    <form id="impurity-form" class="impurity-form">
                        <div class="impurity-inputs">
                            <div class="impurity-container">
                                <div>
                                    <label for="impurity">Impurity Formula</label>
                                    <input type="text" id="impurity" class="impurity" placeholder="Molecular Formula e.g. C4 H2 O Br">
                                </div>
                                <div>
                                    <label for="equivalents">Equivalents</label>
                                    <input type="number" class="equivalents" id="equivalents" placeholder="Equivalents">
                                </div>                       
                            </div>
                            <button class="impurity-btn" id="impurity-btn">Add Impurity</button>
                        </div>
                    
                       
                    </form>
                </div>
        
                <div class="common-impurities">
                    <h6 class="common"><i class="far fa-plus-square"></i> Common Impurities</h6>
                    <form id="common-impurities">
                        <label for="common-equiv">Equivalents</label>
                        <input type="number" id="common-equiv">
                        <button id ="Dichloromethane" class="common-btn">CH<sub>2</sub>Cl<sub>2</sub></button>
                        <button id ="EtOAc" class="common-btn">EtOAc</button>
                        <button id ="MeOH" class="common-btn">MeOH</button>
                        <button id ="Ether" class="common-btn">Et<sub>2</sub>O</button>
                        <button id ="Silica" class="common-btn">SiO<sub>2</sub></button>
                        <button id ="Water" class="common-btn">H<sub>2</sub>O</button>
                    </form>
                    
                </div>
                <div class="calculations">
                    <div>
                        <button class="calculate" id="calculate-chn">Calculate CHN</button>
                    </div>
                    <div>
                        <button class="calculate" id="calculate-purity">Calculate % Purity</button>
                    </div>
                    
                </div>
              
                
            </div>
        </div>
        
            
       
        
       
        

       
        
    </div>
    <script src="/javascripts/calculator.js"></script>
</body>
</html>