<%- include('partials/header.ejs') %>
<div class="jumbotron shadow p-5 mx-5 blurred rounded">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="home-btns">
        <button class="btn btn-light">Guest</button>
        <a href="./login"><button class="btn btn-info">Login</button></a>
    </div>
    
</div>
    

<%- include('partials/footer.ejs') %>
