@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}



body {
    font-family: "Montserrat";
    font-size: 13px;
    background-image: url("/images/homebackground.jpg");
    background-size: cover;
    background-size: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
}

.nav-link{
    font-size: 1rem;
}

.alert{
    color: #fff;
    padding: 5px;
    /* position: absolute; */
}

.alert-box{
    height: 35px;
    border-bottom: rgba(0,0,0, 0.1) solid 1px;
    margin: 0 0 10px 0;
    padding: 0;
}

.success{
    background-color: rgba(35, 196, 92, 0.7);
}

.warning{
    background-color: rgba(245, 10, 10, 0.8);
}

.container {
    margin-top: 100px;
    /* width: 1000px; */
    box-shadow: 0 1px 3px rgba(0,0,0, 0.3);
    padding: 20px;
    padding-top: 5px;
    background-color: #fff;

}

.instructions {
    margin: 10px auto;
    width: 450px;
    height: 235px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.3);
    padding: 10px 15px;
    background-color: #fff;
    justify-content: space-between;
    text-align: justify;
}

/* .side-a, .side-b {
    margin: 10px
} */

.common-impurities{
    display: flex;
    flex-direction: column;
}

label{
    display: block;
}

ul, ol{
    list-style: none;
}

button{
    cursor: pointer;
    border: none;
    height: 35px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
}


#molecular-btn {
    width: 260px;
    margin: 0; 
}

.molec{
    display: flex;
}

.actual-btn{
    width: 200px;
    margin: 27px 5px;  
    height: 35px; 
}

.impurity-container, .actual-container{
    display: flex;
    justify-content: center;

}

.save-reset{
    display: none;
    width: 100%;
}

.save-reset-btns{
    display: inline-block;
    width: 49%;
}


.molecular-formula{
    width:265px;
    margin-right: 5px;
}

.actual-results{
    width:70px;
    margin:0 5px;
}


.impurity, .equivalents{
    width: 263px;
    margin: 0 5px;
    
}



.list-item {
    border: 1px solid rgba(0,0,0, 0.2);
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: 1px 2px 2px rgba(46, 191, 145, 0.5);
    display: flex;
    justify-content: space-between;
    text-align: justify;
    
}


.steps {
    margin: 1px 0;
    font-size: 13px;
}

h5{
    text-decoration: underline;
}

.compound-purity{
    display: flex;
    justify-content: center;
}

.fas,fa-times{
    float: right;
}

.common-btn {
    height: 35px;
    width: 60px;
    background-color: rgba(131,96,195, 0.3);
}

button:focus{
    outline: none;
}

button:active{
    transform: scale(0.98);
}

input:focus{
    outline: none;
}

.delete:hover{
    color: #8360c3;
}

.impurity-btn {
    margin: 10px 0;
    width: 100%;
}

input{
    border: none;
    background-color: rgba(46, 191, 145, 0.2);
    height:35px;
    box-shadow: 0px 2px 2px rgba(0,0,0, 0.3);     
    
}

.calculate{
    width: 262px;
    margin: 10px 0;  
}

#calculate-chn{
    margin-right: 5px;
}

.calculations{
    display: flex;
}

#percent-display{
    margin-left: 5px;
}