@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: "Montserrat";
    background-image: url("/images/homebackground.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px;
    
}

a {
    color: #00B7FF;
  }
  
.jumbotron {
    margin-top: 150px;
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}  



.home-btns{
    display: flex;
    margin: 15px;
}

.edit-delete-btns{
    display: flex;
    padding: 15px;
    justify-content: space-between;
}   

.card {
    margin-top: 50px;
    padding: 50px;
}

.login {
    /* width: 450px; */
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 125px auto;
   
}

.edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 125px auto;

}


.blurred{
    color: #fff;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(7px);
}

.unmatched{
    color: rgba(119, 202, 102, 0.9);
}
    
.matched{
    color: rgb(235, 65, 65);
}

.validation{
    display: inline;
    margin-left: 10px;
}
    

.loginregister-btn {
    width: 100%;
}

.card.pages {
    width: 200px;
    float: right;
    display: inline-block;
    padding: 15px;
    text-align: center;
}


